img {
	&.post-thumbnail {
		margin-bottom: 13px;
	}
}

article {
	img {
		height: auto;

		&.alignleft {
			float:  left;
			margin: 0 20px 20px 0;
			width:  50%;
		}

		&.alignright {
			float:  right;
			margin: 0 0 20px 20px;
			width:  50%;
		}

		&.aligncenter,
		&.alignnone {
			margin: 20px 0;
			width: 100%;
		}
	}

	figure {
		background: $well-bg;
		border:     1px solid $well-border;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
		padding:    19px;

		&.alignleft {
			float:  left;
			margin: 0 20px 20px 0;
			width:  50%;
		}

		&.alignright {
			float:  right;
			margin: 0 0 20px 20px;
			width:  50%;
		}

		&.aligncenter,
		&.alignnone {
			margin: 20px 0;
			width: 100%;
		}

		img {
			height: auto;
			margin: 0 0 10px 0;
			width:  100%;
		}
	}
}

// Instagram embeds
.instagram-media.instagram-media-rendered {
	background: $well-bg;
	border:     1px solid $well-border;
	border-radius: 0;
	display: block;
	width: 100%;
	height: auto;
}