gnore phpstorm garbage
.idea/

# Ignore some backup stuff
*.sql
bkup/.xml
!*.jpg

# Ignore theme example stuff
/site/web/app/themes/galyonj/**/*example.*

# Ignore super secret stuff
/trellis/.vault_pass

# Node
node_modules
test/results
test/coverage

# OS X garbage
.DS_Store
._*
.Spotlight-V100
.Trashes
